<div class="container">
	<form class="login" action="/sessions" method="POST">
		<input name="user[email]" type="text" placeholder="Email">
		<input name="user[password]" type="password" placeholder="Password">
		<input type="submit">
	</form>
</div>