<div class="container">
	<% if @errors %>
		<ul>
			<% @errors.each do |error| %>
				<li><p><%= error %></p></li>
			<% end %>
		</ul>
	<% end %>

	<form class="signup" action="/users" method="POST">
		<%= erb :"/users/_form", locals: { user: @user } %>
		<input name="user[password]" type="password" placeholder="Password">
		<input name="user[password_confirmation]" type="password" placeholder="Password Confirmation">
		<input type="submit">
	</form>
</div>