<div class="container">
	<h1>Bobolinks: Hugging is Caring App</h1>
	<ul>
		<li><a href="/hugs/new">Give A Hug</a></li>
		<li><a href="/hugs/new">Receive A Hug</a></li>
	</ul>

	<form class="logout" action="/sessions" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<button type="submit">Logout</button>
	</form>
</div>
